.image-container {
    width: 400px;
    height: 400px;
    background-size: cover;
    position: absolute;
    margin-top: 5rem;
    margin-left: 14rem;
}

.mybtn{
    margin-top: 360px;
    margin-left: 150px;
}

.myfooter{
    clear: both;
    margin-top: 110px;
    margin-bottom: 0px;
}


@media (max-width: 768px) {
.image-container {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.mybtn {
    margin-top: 450px;
    margin-left: 15px;
}
}
